.header{
    background-color: #EAEAEA;

}
.body{
    margin:0;
    padding:0;
    background-color: #EAEAEA;
}
.footer{
    margin:0;
    padding: 0;
    background-color: #222;
    width:100%;
    height:150px;

}

ul#navBar {
    list-style-type: none;
}

li#name {
    padding-left:80px;
}
ul#navBar li{
    float:left;
    padding: 10px;
}

ul#navBar{

    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

ul#navBar a:hover {
    background-color: seashell;
}



.footer h1{
    color: #EAEAEA;
}
.footer a{
    color: #EAEAEA;
    margin-left: 6px;
}
.contactImages{
    width:100px;
    height:100px;
}