.header{


}


.tabs-animated {
    overflow: hidden;
}

.tab-pane {
    height: 650px;
    width: 100%;
}


.body{
    margin:0;
    padding:0;

}

.footer{
    margin:0;
    padding: 0;
    background-color: #222;
    width:100%;
    height:150px;

}

.footer h1{
    color: #EAEAEA;
}
.footer a{
    color: #EAEAEA;
    margin-left: 6px;
}
.contactImages{
    width:100px;
    height:100px;
}