/* Header CSS*/

#websiteName{
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: .1em;
    text-decoration: none;
    margin: 0;
    padding-left: 20px;
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    line-height: 2em;
    z-index: 8002;
    position: relative;
    color: #fff;

}
li a{
color: #fff;
    text-decoration: none;
    background-color: #2d2013;

}
li a:hover{
    text-decoration: none;
    color: black;
    background-color: #2d2013;
}
/* Sliding Tab CSS*/
.tabs-animated {
    overflow: hidden;
}
ul.nav.nav-tabs{
    padding-top: 15px;
    background-color: #2d2013;
    height:75px
}
.tabs-animated li{
    line-height: 3em;
    padding-left: 10px ;
}

.tab-pane {
    height: 600px;
    width: 100%;
    color:
}

/* Viewing Panel CSS*/
.body{
    margin:0;
    padding:0;

}

/* Portfolio CSS*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Contact Information*/
table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

/* Footer CSS*/
.footer{
    margin:0;
    padding: 0;
    background-color: #222;
    width:100%;
    height:150px;

}
.footer h1{
    color: #EAEAEA;
}
.footer a{

    color: #EAEAEA;
    margin-left: 9px;
    font-size: 15px;
}
.contactImages{
    width:100px;
    height:100px;
}