.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

/* Spacing between footer links*/
body > footer > div > p > a {
    padding: 8px;
    /* padding-top: 20px; */
}
/* Content for other tabs hidden on start*/
.newscontainer {
    display:none;
}